body {
    background-color: rgb(22, 50, 53);
    background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-abstract-gray-background-with-geometric-shapes-picture-image_1164143.jpg);
    font-family:'Times New Roman', Times, serif;
}

#login_target {
    background-color: rgb(147, 140, 140);
    width: 45%;
    padding: 3rem;
    text-align: center;
    margin: auto;
    box-shadow: 10px 3px 25px 5px #0003;
    
}

h2 {
    color: rgb(19, 19, 19);
    text-align: center;
    box-shadow: 10px 3px 25px 5px #0003;
    padding: 12px;
}

.title {
    text-align: center;
    
}

#title1 {
    box-shadow: 5px 5px 5px 5px #0003;
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
    border-left: 5px solid rgb(228, 217, 217);

}

#login_div {
    padding: 10px;
    margin: 0px 10px;
}

#login_form  {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 140, 140);
    box-shadow: 3px 5px 5px 1px #0003;
    border-left: 5px solid rgb(228, 217, 217);
    border-right:  5px solid rgb(228, 217, 217);

}

input {
    background-color: rgb(41, 41, 37);
    padding: 5px 20px;
    border-left: 5px solid rgb(228, 217, 217);
    box-sizing: border-box;
    margin: 12px 20px 20px 0px;
    width: 100%;
    color: rgb(255, 255, 255);
}

label {
    color: rgb(0, 0, 0);
    box-shadow: 0px 5px 5px 2px #0003;
    padding: 5px 20px;
}

#passwrd {
    box-shadow: 5px 0px 5px 5px #0003;

}

#submit {
    padding: 5px;
    width: 50%;
    align-self: center;
}

#content_div{
    margin: 20px 100px;
    box-shadow: 3px 5px 5px 1px #0003;
    border-left: 5px solid rgb(228, 217, 217);
    border-right:  5px solid rgb(228, 217, 217);
}

select {
    background-color: rgb(41, 41, 37);
    padding: 5px 20px;
    border-left: 5px solid rgb(228, 217, 217);
    box-sizing: border-box;
    margin: 10px 0px;
    width: 50%;
    color: rgb(255, 255, 255);
}

#content_label {
    background-color: rgb(41, 41, 37);
    color: rgb(255, 255, 255);
}

#content_fin {
    padding: 20px;
    margin: 20px;
    background-color: rgb(147, 140, 140);
    box-shadow: 3px 5px 3px 5px #0003;
    border-left: 5px solid rgb(228, 217, 217);
    border-right:  5px solid rgb(228, 217, 217);

}