main {
    background-color: #033;
}

#login_target {
    background-color: gray;
    width: 45%;
    padding: 3rem;
    text-align: center;
    margin: auto;
}

.title {
    background-color: red;
    text-align: center;
}

#login_div {
    background-color: brown;
    margin: 20px 10px;
}

#login_form  {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 95, 49);
}

label {
    padding: 10px;
    background-color: rgb(164, 122, 17);
}

input {
    padding: 10px;
    background-color: #999c;
    margin: 3px 0px 3px 3px;
}

#submit {
    padding: 5px;
    width: 50%;
    align-self: center;
}

#content_fx {
    background-color: gray;
}

.siu {
    background-color: #033;
}